.services {
  width: 100vw;
  height: 76rem;
  display: flex;
  flex-direction: column;
}

.sevicesDescText {
  height: 15.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.servicesDesc {
  display: flex;
  justify-content: space-between;
  padding-left: 16rem;
  padding-right: 25.35rem;
  padding-top: 19rem;
}

.services p {
  font-size: 1.7rem;
  font-weight: bold;
  width: 39rem;
  height: 10.4rem;
  line-height: 2.6rem;
  color: black;
}

.dodecagon {
  width: 18rem;
  height: 18rem;
  transition: all 0.2s;
}

.dodecagon:hover {
  transform: scale(1.1);
}

@media (max-width: 376px) {
  .services {
    height: 62rem;
  }

  .services p {
    font-size: 1.4rem;
    width: 33.9rem;
    line-height: 2rem;
  }

  .servicesDesc {
    flex-direction: column;
    padding-top: 9rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    align-items: center;
  }

  .sevicesDescText {
    height: 14.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .dodecagon {
    width: 13.6rem;
    height: 13.6rem;
    margin-left: 2.1rem;
    margin-top: 4.5rem;
    margin-bottom: 6.1rem;
  }
}
