@font-face {
  font-family: "Albra Medium";
  src: url(/public/assets/Typography/Albra\ Medium.otf) format("otf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Albra Medium", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
}
